body {
    color: #151515;
}

.main-container {
    padding-bottom: 3.5em;
}

/* About section styling */
.about__image {
    border-radius: 50%;
    height: auto;
    width: clamp(182px, 20vw, 250px);
}

.about__paragraph-wrapper p:not(:last-child) {
    margin-bottom: 0.5em;
}

.about__heading {
    font-size: clamp(2rem, 4vw, 2.25rem);
}

@media (min-width: 500px) {
    .about {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: 1fr 1em 1fr;
        grid-template-areas:
        "img head head head head head head head head head head head"
        "bio bio  bio  bio  bio  bio  bio  bio  bio  bio  bio  bio  " 
    }

    .about__image {
        grid-area: img;
    }
    
    .about__heading {
        grid-area: head;
        margin: auto 0 auto 1em;
    }

    .about__paragraph-wrapper {
        margin-top: 1em;
        grid-area: bio;
    }
}

/* Utility classes */
.grid {
    display: grid;
}

.flex {
    display: flex;
}