/* CSS reset */
*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__link:hover {
    text-decoration: underline;
}

a {
    color: #141414;
    text-decoration: none;
    position: relative;
}

a h2:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

/* Blog post preview */
.blog-post__title {
    font-size: clamp(1.5rem, 2.5vw, 1.5rem);
    min-height: 1.25em;
}

.blog-post__image {
    width: 100%;
    border-radius: 0.1875rem;
}

.blog-post__header {
    margin-top: 0.88em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.56em;
}

.blog-post__date {
    font-size: 0.875rem;
}

.blog-post__preview {
    font-size: clamp(0.8rem, 4vw, 1rem);
}

/* Header styling - logo & nav */
.header {
    display: flex;
    align-items: center;
}

.header__heading {
    font-size: clamp(0.75rem, 4vw, 1.25em);
    margin-left: 0.188em;
    margin-right: 1.5em;
    padding: clamp(18px, 2vh, 24px) 0;
}

.header__logo {
    width: clamp(23.162px, 10vw, 34.246px);
    height: auto;
    margin-left: clamp(0.5em, 3vw, 3.313em);
}

.main-nav__link {
    font-size: clamp(0.75rem, 4vw, 1rem);
}

.main-nav__item {
    text-align: center;
}

.nav {
    margin-left: auto;
    margin-right: clamp(0.5em, 3vw, 3.313em)
}

.main-nav {
    display: flex;
    gap: 1em;
}

/* Footer styling */
.footer {
    background: #202020;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;
}

.footer__heading {
    color: #ECECEC;
    font-size: 0.75rem;
}

.footer__copyright {
    color: #D7D7D7;
    font-size: 0.75rem;
}

/* Utility classes */
.grid {
    display: grid;
}