/* CSS reset */
*, 
*:before, 
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Source Sans 3', sans-serif;
    color: #000;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__link:hover {
    text-decoration: underline;
}

a {
    color: #141414;
    text-decoration: none;
    position: relative;
}

a h2:hover {
    text-decoration: underline;
}

button {
    cursor: pointer;
}

/* Blog post preview */
.blog-post {
    border: 2px dashed green;
}

.blog-post__image {
    /* border: 3px solid yellow; */
    width: 100%;
    border-radius: 0.1875rem;
}

.blog-post__header {
    margin-top: 0.88em;
    /* border: 2px solid magenta; */
    display: flex;
    flex-direction: column;
    gap: 0.56em;
}

.blog-post__preview {
    margin-top: 0.563em;
    color: #505050;
}

/* Header styling - logo & nav */
.header {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas: 
     'logo ..... nav';
}

.nav {
    grid-area: nav;
}

.header-wrapper, 
.main-nav {
    display: flex;
}

.main-nav {
    gap: 1em;
}

.header-wrapper {
    grid-area: logo;
    font-family: 'Roboto';
}

/* Footer styling */
.footer {
    background: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer__heading {
    color: #ECECEC;
    font-size: 0.75rem;
}

.footer__copyright {
    color: #D7D7D7;
    font-size: 0.75rem;
}