.hero-post {
    position: relative;
    min-width: 325px;
    border: 2px solid purple;

}

.hero-post-wrapper {
    border: 2px solid magenta;
    position: absolute;
    color: #FFF;
    bottom: 0;
    left: 0;
    padding: 0 1.25em 1.563em;
    /* display: flex;
    flex-direction: column;
    gap: 0.5em; */
    display: grid;
    row-gap: 0.75em;
    grid-template-rows: repeat(3, max-content);
    grid-template-columns: repeat(12, 1fr);
}

.hero-post__date {
    font-size: 0.75rem;
    font-weight: 300;
    grid-column: 1 / 3;
}

.hero-post__title {
    font-size: 2rem;
    color: #FFF;
    line-height: 108.2%;
    letter-spacing: -0.06rem;
    font-weight: 600;
    grid-column: 1 / 9;
}

.hero-post__link {
    grid-column: 1 / 10;
}

.hero-post__body {
    font-size: 1rem;
    font-weight: 300;
    grid-column: 1 / -1;
}

.grid {
    display: grid;
}

.grid--posts {
    border: 3px solid blue;
    margin-top: 2.13em;
    /* grid-template-columns: minmax(auto, 35em); */
    grid-template-columns: repeat(auto-fit, minmax(calc(210px + 20px), 1fr));
    gap: 2.563em;
    padding: 0 calc(20px + 1.5625vw);
}

.hero-post__image {
    /* border: 5px solid red; */
    width: 100%;
    /* Set background color in case image load fails */
    background-color: #555555;
}

@media (min-width: 675px) {
    .hero-post {
        position: relative;
    }

    .hero-img-container {
        aspect-ratio: 25 / 11;
    }

    .hero-post__link {
        grid-column: 1 / 8;
    }

    .hero-post__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 0 6%;
    }

    .hero-post-wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .hero-post__body {
        /* max-width: 45%; */
        grid-column: 1 / 11;
    }
}

@media (min-width: 750px) {
    .hero-post__link {
        grid-column: 1 / 9;
    }

    .hero-post__body {
        /* max-width: 45%; */
        grid-column: 1 / 10;
    }

    
}

@media (min-width: 1085px) {
    .hero-post__link {
        grid-column: 1 / 9;
    }

    .hero-post__title {
        font-size: 2.5rem;
    }

    .hero-post__body {
        grid-column: 1 / 8;
    }

}